TestClient/Service References/Version2Service/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.bloggedbychris.com/practice/routing/v2/" elementFormDefault="qualified" targetNamespace="http://services.bloggedbychris.com/practice/routing/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>